.contenedor {
  display: flex;               /* centrar la imagen */
  justify-content: center;     /* Centrado horizontal */
  align-items: center;         /* Centrado vertical */
  width: 100%;                /* 100% del ancho de la página */
  height: 20vh;               /* 100% de la altura de la ventana */
  overflow: hidden;            /* Oculta el exceso si la imagen es más grande */
}

.contenedor img {
  max-width: 100%;             /* La imagen nunca será más ancha que el contenedor */
  max-height: 100%;            /* La imagen nunca será más alta que el contenedor */
  object-fit: cover;           /* Asegura que la imagen cubra todo el contenedor */
}
.tab {
    overflow: hidden;
    border: 3px solid #000000;
    background-color: #7c7c7c;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer; /* mano de interacción */
    padding: 0.6% 1%;
    transition: 0.s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 1% 1%;
    border: 1px solid #ccc;
    background-color: rgba(198, 198, 198, 0.3); /* Fondo blanco con 80% de opacidad */
    border-top: none;
    
  }

td {
  padding: 1% 2%;
}
body {
  background-image: url("./assets/web media/madrizzbn.png"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;           /* Asegura que la imagen cubra toda la pantalla */
  background-attachment: fixed;     /* Fija la imagen para que no se mueva al hacer scroll */
  background-position: center;      /* Centra la imagen de fondo */
  background-repeat: no-repeat;     /* Evita que la imagen se repita */
  margin: 0;
  padding: 0;
  height: 100vh;                    /* Asegura que el body ocupe toda la altura de la ventana */
  width: 100%;
  
}

.centered-content {
  width: 80%; /* Ajusta al tamaño que desees */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  text-align: center; /* Centra el texto */
}

p{
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 25;
  font-style: normal;
}
body {
  background-image: url("./assets/web media/madrizzbn.png");
}
