
.tab {
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #7c7c7c;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer; /* mano de interacción */
    padding: 0.6% 1%;
    transition: 0.s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 1% 1%;
    border: 1px solid #ccc;
    border-top: none;
    
  }

td {
  
  padding: 1% 2%;
}

